* {
  font-family: 'Noto Sans Japanese', serif;
  background-color: #fff;
}

header {
  margin: 2em;
}

h1 {
  font-size: 3em;
  text-shadow: 1px 1px 3px #999;
  em {
    color: red;
  }
}

@mixin icon-header($klass,$color:#000) {
    &.#{$klass}:before {
        color: $color;
    }
}

h2 {
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #999;
  margin-top: 1.5em;
  &:before {
    display: inline-block;
    font-family: 'icomoon';
    width: 1.28571429em;
    text-align: center;
    margin-right: 0.2em;
  }
  @include icon-header(icon-pencil, #093);
  @include icon-header(icon-github, #f06);
  @include icon-header(icon-slideshare, #36f);
  @include icon-header(icon-star, #ff9);
}

#contents {
  margin: 2em;
  a {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dotted #666;
    color: #333;
  }
  ul {
    padding-left: 1em;
  }
  li {
    list-style-type: none;
    margin-bottom: 0.5em;
  }
  li.hli {
    margin-bottom: 1.5em;
  }
  .subitem {
    ul {
      margin-top: 0.5em;
    }
    li {
      font-size: 0.95em;
    }
  }
}

footer {
  margin: 0 1em;
  padding-top: 0.5em;
  border-top: 1px dashed gray;
  text-align: right;
  line-height: 2em;
  a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
  }
  i {
    margin: 0 0.1em;
    font-size: 1.5em;
  }
  span {
    white-space: nowrap;
  }
  img {
    vertical-align: middle;
  }
}

.fa-hatena:before {
  content: "H";
  font-family: Verdana;
  font-weight: bold;
}
